<section class="works" id="trabajos">
  <div class="contenedor">
    <h3 class="titulo">Proyectos</h3>
    <div class="row justify-content-center" id="cont-works">
      <div class="col text-center">
        <a href="">
          <img
            src="../../../assets/pexels-luis-gomes-546819.jpg"
            alt="Titulo"
            id="img-work"
          />
        </a>
      </div>
      <div class="col-8">
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo
          aut unde doloribus, ipsa eaque voluptatibus in consectetur et nihil
          assumenda.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-end">
        <button class="btn">
          <i class="bi bi-pencil-fill"></i>
        </button>
        <button class="btn">
          <i class="bi bi-plus-square"></i>
        </button>
      </div>
    </div>
  </div>
</section>
