<section class="estudios" id="estudios">
        
    <div class="contenedor">
        <h3 class="titulo" >Estudios</h3>
        
        <div class="estudio-contenedor"><!--estudio-->
            <div class="descripcion-estudio">
                <div>
                    <h4 class="tit-est">Título</h4>
                    <p class="tit-est">(year)</p>
                </div>
                <p class="des-est">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit libero, doloremque nostrum ea molestiae qui nam rem quasi maiores ipsam distinctio a vel laboriosam veritatis eum illum quae. Minima veniam, odio sed facere, vitae quisquam possimus voluptatum iure, officia porro neque exercitationem mollitia quam illo repellendus?</p>

            </div>
            <button>
                <i class="bi bi-pencil-fill"></i>
            </button>
        </div>

        <h3 class="titulo" >Cursos</h3>
        
        <div class="estudio-contenedor"><!--estudio-->
            <div class="row">
                <p class="text-center bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolorem nostrum, iste at recusandae amet maiores dolores est possimus voluptas, doloremque vitae laborum ullam nemo esse. Pariatur nulla saepe, modi inventore quia nihil, incidunt necessitatibus ad deserunt, beatae dolor. Nobis odio sit eum architecto qui.</p>
            </div>
            <button>
                <i class="bi bi-pencil-fill"></i>
            </button>
        </div>

        <h3 class="titulo" >Idiomas</h3>
        
        <div class="estudio-contenedor"><!--estudio-->
            <div class="row">
                <ul class="text-center">
                    <li>Español - Nativo</li>
                    <li>Ingles - Avanzado</li>
                </ul>

            </div>
        </div>
        
    </div>

</section>
