<nav class="navbar navbar-expand-md bg-primary navbar-light" id="navbar">
  <a class="navbar-brand" href="#">
    <img
      src="../../../assets/APLogo.png"
      alt=""
      width="100"
      class="d-inline-block align-top"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#toggleMobileMenu"
    aria-controls="toggleMobileMenu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="toggleMobileMenu">
    <ul class="navbar-nav ms-auto text-center">
      <li>
        <a class="nav-link" href="#sobre-mi">Sobre mi</a>
      </li>
      <li>
        <a class="nav-link" href="#estudios">Estudios</a>
      </li>
      <li>
        <a class="nav-link" href="#experiencia">Trabajos</a>
      </li>
      <li>
        <a class="nav-link" href="#habilidades">Habilidades</a>
      </li>
      <li>
        <a class="nav-link" href="#trabajos">Proyectos</a>
      </li>
      <li>
        <a class="nav-link" href="#contacto">Contacto</a>
      </li>
      <button class="btn btn-primary">log in</button>
    </ul>
  </div>
</nav>
