<section class="trabajos" id="experiencia">
  <div class="contenedor">
    <h3 class="titulo">Experiencia laboral</h3>
    <div class="contenedor-trabajos">
      <div class="row text-center">
        <h3 class="titulo-trab">titulo</h3>
        <h5>year</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
          tenetur natus assumenda dolorum voluptas eius ad. Id iure provident
          laboriosam dignissimos aperiam nesciunt consectetur voluptates iusto
          accusamus, eum vero perspiciatis commodi eligendi impedit quas quae
          quasi illum. Natus hic earum, explicabo incidunt dolore repellendus
          suscipit.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-end">
        <button class="btn">
          <i class="bi bi-pencil-fill"></i>
        </button>
      </div>
    </div>
  </div>
</section>
